<!DOCTYPE html>
{% extends "first_app/base.html" %}
{% load my_extras %}

  {% block body_block %}
    <h1>Hi, Welcome to Kapil Patidar's Info Page!</h1>

    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">Welcome to the home page</h1>
        <h2>Go to /form_page to fill out the form</h2>
        <h2>Go to /first_app/users to Sign up!</h2>
        <h2>Go to /first_app/help</h2>
        <h1>{{text | upper}}</h1>
        <h1>{{number | add:5}}</h1>
        <h1>{{text | cutout:'hell'}}</h1>

      </div>
    </div>

    <h2>Here are your access records:</h2>
    <div class="container">
      {% if access_records %}
          <table>
            <thead>
              <th>Site Name</th>
              <th>Date Accessed</th>
            </thead>

            {% for acc in access_records %}
              <tr>
                <td>{{ acc.name }}</td>
                <td>{{ acc.date }}</td>
              </tr>
            {% endfor %}
        </table>

      {% else %}
        <p>No Access Records. Table Not Created.</p>
      {% endif %}
    </div>

      {% endblock %}
